<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Editar senha</title>
</head>
<body>
    <div class="header">
        <img class="logo_branca" src="/static/img/logo_branca.png" alt="Logo Branca">

        <div class="inicio_relatorio_previsao">
            <a href="{{ url_for('dashboard') }}">Início</a>
            <p>Relatório</p>
            <p>Previsão</p>
        </div>

        <div class="icone_e_nome">
            <div class="icone_user"></div>
            <a href="{{ url_for('editar_usuario') }}"><p class="nome_user">Olá, {{nome}}</p></a>
            <a href="{{ url_for('logout') }}" class="logout"><img src="static/img/logout.png" alt="Símbolo da logo"></a>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {%for category, message in messages %}
            <div class="flash {{category}}">{{message}}</div>
            {%endfor%}
        </div>
        {%endif%}
    {%endwith%}
    <div class="container-senha">
        <form action="senha" method="post" class="container-senha">
            <label class="senhas">Senha Atual</label>
            <input name="senha_atual" type="password">

            <label class="senhas">Nova Senha</label>
            <input name="nova_senha" type="password">

            <label class="senhas">Confirmar senha</label>
            <input name="confirma_senha" type="password">
            
            <button type="submit" class="atualizar">ATUALIZAR</button>
        </form>
    </div>

    <div class="menu">
        <div class="inicio">
            <img src="/static/img/casinha.png">
            <p>Início</p>
        </div>


        <div>
            <img class="relatorios" src="/static/img/setas.png">
            <p>Relatórios</p>
        </div>


        <div>
            <img class="previsoes" src="/static/img/previsoes_logo.png">
            <p>Previsões</p>
        </div>
    </div>
</body>
</html>
